appdirs
certifi
charset-normalizer
click
deap
docker-pycreds
filelock
fsspec
gitdb
GitPython
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
pathtools
Pillow
protobuf
psutil
PyYAML
requests
sentry-sdk
setproctitle
six
smmap
sympy
torch==2.1.0
torchvision==0.16.0
tqdm
triton
typing_extensions
urllib3
wandb
